body{
    background-color: #F5F5F5;
}

.heroSlider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.heroSlider img{
    width: 100%;
    display: none;
}

img.displaySlide{
    display: block;
}

.heroSlider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsl(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}

.prev{
    left: 0;
}

.next{
    right: 0;
}